@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}

.Title {
    text-align: center;
    margin: 30px;
    font-size: 2.5em;
}
